# Файлы и директории, которые не будут загружаться в репозиторий,
# и будут храниться только в папке проекта на локальной машине.

# Игнорировать файлы .DS_Store (для Apple устройств)
.DS_Store

# Игнорировать каталоги JetBrains IDE
.idea/

# Игнорировать cache-папки проектов Python
__pycache__/
